/*
  green hex code: #44a159
  yellow hex code: #ffdd82
  light brown hex code: #cca64e
  brown hex code: #93731a
*/
body {
  width: 100%;
  height: 100%;
}

header {
  z-index: 2;
  position: fixed;
  display: flex;
  /* min-width: 99%; */
  height: 15vh;
  min-height: 50px;
  margin-top: 1vw;
  margin-right: 1vw;
  margin-bottom: auto;
  background-color: red;
}

.name-title {
  height: 100%;
  background-color: green;
  margin-top: 1vw;
  margin-right: auto;
  margin-bottom: 1vw;
  margin-left: 1vw;
  padding: auto;
  vertical-align: center;
}

div.name-title h1 {
  margin-top: 1vw;
  margin-right: 1vw;
  margin-left: 1vw;
  font-size: calc(26px + 1.5vw);
  object-fit: contain;
}

div.name-title h3 {
  background-color: red;
  margin-top: auto;
  margin-right:1vw;
  margin-bottom: 1%;
  margin-left: 1vw;
  padding: 0.5vw;
  font-size: calc(10px + 0.5vw);
  text-align: center;
}

.nav-header-buttons {

  padding: 1vw;
  background-color: blue;
  margin-top: auto;
  margin-right: 1vw;
  margin-bottom: auto;
  margin-left: auto;
  float: right;
}

a.nav-buttons {
  padding: 1vw;
  /* background-color: white; */
  border-style: none;
  text-align: center;
  font-size: calc(8px + 1vw);
  object-fit: contain;
}


a:hover {
  background-color: red;
}

a:visited {
  background-color: green;
}

a:active {
  background-color: blue;
}

.intro-container {
  position: relative;
  z-index: 1;
  height: 200px;
  line-height: 200px;
  margin-top: calc(140px + 1vw);
  margin-left: 1vw;
  margin-right: 1vw;
  padding: auto;
  background-color: blue;
  text-align: center;
}

div.intro-container p {
  font-size: calc(14px + 0.5vw);
}

.img-container {
  z-index: 1;
  display: flex;
  /* position:relative; */
  margin-top: 5vh;
  margin-bottom: auto;
  margin-right: 1vw;
  margin-left: 1vw;
  background-color: brown;
  justify-content: center;
}

.left-img {
  z-index: 1;
  width: 300px;
  height: 200px;
  min-width: 300px;
  min-height: 200px;
  margin-right: auto;
  margin-left: 1vw;
  background-color: blueviolet;
  border-style: solid;
}

.middle-img {
  z-index: 2;
  position: absolute;
  width: 300px;
  height: 200px;
  min-width: 300px;
  min-height: 200px;
  margin-top: 5vw;
  background-color: blueviolet;
  border-style: solid;
  align-self: center;
}

.right-img {
  z-index: 1;
  width: 300px;
  height: 200px;
  min-width: 300px;
  min-height: 200px;
  margin-left: auto;
  margin-right: 1vw;
  background-color: blueviolet;
  border-style: solid;
}